.glassesApp {
    font-family: 'Dancing Script', cursive;
}

.glassesApp .container header p {
    font-size: 60px;
    text-transform: capitalize;
    font-weight: bolder;
}

.glassesApp .container .glassesCollection {
    width: 90%;
    padding: 48px 0;
    margin: 0 auto;
}

.glassesApp .container .glassesCollection .col-2 {
    margin-bottom: 15px;
}

.glassesApp .container .glassesCollection .card img {
    margin: 0 auto;
    padding: 15px 0; 
}